<div>
    <h2>Login Page</h2>
        <form #loginRef="ngForm" (ngSubmit)="checkUser(loginRef)">
            <label>EmailId</label>
            <input type="email" name="emailid" ngModel/><br/>
            <label>Password</label>
            <input type="password" name="password" ngModel/><br/>
            <input type="radio" name="typeOfUser" value="admin" ngModel/>Admin
            <input type="submit" value="submit"/>
            <input type="reset" value="reset"/>
        </form>
        <span style="color:red">{{msg}}</span>
</div>